body{
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;
    text-align:center;
    background-image:url("https://images.unsplash.com/photo-1483985988355-763728e1935b?w=1600");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

h1{
    background-color:orange;
    color:white;
    padding:20px;
    margin:0;
}

h2{
    color:black;
}

.navbar{
    background-color:white;
    padding:12px;
}

.navbar ul{

    margin:0;
    padding:0;
}

.navbar li{
    display:inline;
    margin:15px;
}

.navbar a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}

.navbar a:hover{
    color:orange;
}

table{
    border-collapse:collapse;
    margin:auto;
    background:white;
}

th{
    background:orange;
    color:white;
}

th,td{
    padding:10px;
}

img{
    border-radius:8px;
    transition:0.3s;
}

img:hover{
    transform:scale(1.1);
}

.about-box{
    width:600px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:20px;
}

video{
    margin-top:20px;
    box-shadow:5px 5px 15px black;
    border-radius:20px;
}
ul{
    color:white;
}